*{
	padding: 0px;
	margin: 0px;
}
header{
	width: 1140px;
	height: auto;
	margin: auto;
}
.container{
	width: 1140px;
	height: auto;
	background:green;
	text-align: center;
}

.container ul li{
	list-style: none;
	display: inline-block;
	position: relative;	
	text-align: center;
}
.container ul li a{
	display: block;
	padding: 20px 30px;
	font-size: 20px;
	font-weight: bold;
	color: whitesmoke;
	text-transform: uppercase;
	text-decoration:none;
}
.container ul li a:hover{
	color: yellow;
	background: brown;
}
.container ul li ul{
	position: absolute;
	background :black;
	left: -9999px;
}
.container ul li:hover ul{
	left: 0px;
}
.container ul li ul li{
	width: 200px;
	border-bottom: 1px solid#ff;
}
.banner-cover{
	height: 50vh;
	background-position: center;
	background-size: cover;
	background-repeat:no-repeat ;
}
.banner-text{
	padding: 20px;
	text-align: center;
}
.ab{
	margin-top: 60px;
	margin-right: 30px;
	box-shadow: 0px 8px 10px 0px skyblue;
}
.ab1{
	margin: 30px;
	margin-top: 60px;
	box-shadow: 0px 8px 10px 0px skyblue;
}
.ab2{
	margin-top: 60px;
	margin-left: 30px;
	box-shadow: 0px 8px 10px 0px skyblue;
}
.ab:hover{
	color: yellow;

}
.ab1:hover{
	color: yellow;

}
.ab2:hover{
	color: yellow;

}
.banner-text button{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px;
	border: 0px;
	background-color: white;
}
.about-logo img{
	width: 320px;
	height: auto;
	margin: 0px 10px;
	margin-bottom: 10px;
	box-shadow: 0px 8px 10px 0px rgb(0, 0, 0);

}
.about-text{
	padding: 0px 10px;
	width: 700px;
	height: auto;
	float: left;
} 
.about-text h2{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid skyblue;
	margin-bottom: 20px;
}
.about-text p{
	font-size:16px ;
	color:black;
	line-height: 22px;
}
.row{
	overflow: auto;
}
.col{
	float: left;
}
.about-section{
	background-color: #DCE7E5;
	padding: 40px 0px; 
	margin-top: 15px;
}
.title{
	width: 250px;
	height: auto;
	margin: 0px auto;
}
.title h2{
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-bottom: 1px solid black ;
	text-align: center;
	margin-bottom: 20px;
}
.service{
	width:300px;
	height: auto;
	border: 1px solid black;
	text-align: center;
	display: inline-block;
	margin: 10px;
	margin-left: 50px;
}

.service-section{
	background-color: #B7BBB2;
	margin-top: 10px;
	height: 450px;
}
.serv-icon i{
	font-size: 40px;
	margin-top: 10px ;
	margin-bottom: 10px;
	color: black;
	transition:.5s;
}
.serv-icon i:hover{
	color: yellow;
	transform:scale(.8);
}
.contact-section{
	width: 1120px;
	height: 200px;
	margin: 10px;
	background:#DCE7E5;
}
.Contact{
	
	float: left;
	position: relative;
	display: inline block;
	font-size: 20px;
 	margin:10px 20px 10px 50px;
	text-align: center;
	background: #fff;
	padding: 15px 15px 15px 80px;
	width:200px;
	position: relative;
	box-shadow: 0px 8px 10px 0px rgb(0, 0, 0);
}
.con-icon i{
	margin: 5px;
	position: absolute;
	width: 50px;
	height: 50px;
	float:left;
	top: 8px;
	left: 16px;
	background:black;
	color: #fff;
	line-height: 50px;
	font-size: 30px;
}
.con-icon i:hover{
	color: blue;
}
.a1{
	font-size: 15px;
}
footer{
	width: 0px auto;
	margin: 0 auto;
	height: auto;
	background-color: #000;
	color:#ffff;
	padding: 30px 0px;
}
.footer-icon{
	float: left;
	margin: 0px 200px ;
}
.footer-icon ul li{
	font-size: 20px;
	padding:0px 10px;
	transition: .5s;
	margin-bottom: 5px;
	display: inline-block;
}
.footer-icon ul li a{
	background: black;
	color: #fff;
	padding:5px 10px ;
	font-size:20px ;
}
.footer-text{
	float: left;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px 200px;
}
.fab.fa-facebook{
	color: blue;
}